<div class="hero-banner">
	<div class="wrapper">
		<h2>Invest in your community.</h2>
		<a class="hero-btn" ui-sref="mapView">Search in Seattle</a>
	</div>
</div>

<div class="wrapper three-tools">
	<h2>It's easy to create a customized real estate portfolio.</h2>
	<div class="row">
		<div class="column col4">
			<h3 class="b5 center">Filter through property listings</h3>
			[picture]
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
		</div>
		<div class="column col4">
			<h3 class="b5 center">Get detailed ROI metrics</h3>
			[picture]
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class="column col4">
			<h3 class="b5 center">Manage your portfolio</h3>
			[picture]
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>
</div>